@page
@model Portfolio.Pages.WedokuModel
@{
    Layout = "_Layout";
}

<main>
    <div class="main">
        <h1 class="title">We-Doku</h1>
    </div>
    <div class="explore-container">
        <div class="explore">
            <h3>Languages/Tools Used</h3>
            <ul>
                <li>C#</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>HTML</li>
                <li>SQL</li>
                <li>SignalR</li>
                <li>Bootstrap</li>
                <li>jQuery</li>
                <li>Azure</li>
                <li>XUnit</li>
            </ul>
        </div>
        <div class="carousel">

            <div id="carousel-2" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-2" data-slide-to="1"></li>
                    <li data-target="#carousel-2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img id="carousel-image" class="a-block w-100" src="~/assets/" alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <a href="#Wedoku"><h3 class="h3-responsive" id="proj-link">Landing Page</h3></a>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img id="carousel-image" class="a-block w-100" src="~/assets/" alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                        <div class="carousel-caption">
                            <a href="#PogsRUs"><h3 class="h3-responsive" id="proj-link">Login Page</h3></a>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img id="carousel-image" class="a-block w-100" src="~/assets/p" alt="Third slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                        <div class="carousel-caption">
                            <a href="#PogsRUs"><h3 class="h3-responsive" id="proj-link">Register Page</h3></a>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img id="carousel-image" class="a-block w-100" src="~/assets/wedoku/wedoku.PNG" alt="Fourth slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                        <div class="carousel-caption">
                            <a href="#PogsRUs"><h3 class="h3-responsive" id="proj-link">Game Page</h3></a>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img id="carousel-image" class="a-block w-100" src="~/assets/" alt="Fifth slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                        <div class="carousel-caption">
                            <a href="#PogsRUs"><h3 class="h3-responsive" id="proj-link">Example: Wrong Move</h3></a>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img id="carousel-image" class="a-block w-100" src="~/assets/" alt="Sixth slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                        <div class="carousel-caption">
                            <a href="#PogsRUs"><h3 class="h3-responsive" id="proj-link">Example: Interactive Chat</h3></a>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img id="carousel-image" class="a-block w-100" src="~/assets/" alt="Seventh slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                        <div class="carousel-caption">
                            <a href="#PogsRUs"><h3 class="h3-responsive" id="proj-link">Example: Game Completion</h3></a>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img id="carousel-image" class="a-block w-100" src="~/assets/" alt="Eigth slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                        <div class="carousel-caption">
                            <a href="#PogsRUs"><h3 class="h3-responsive" id="proj-link">Mobile View</h3></a>
                            <p></p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" id="arrow" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" id="arrow" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            </div>
        </div>
</main>
