<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>
    <header>

    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div>
   
        </div>
    </footer>
</body>
</html>
