
    <header>
        <div id="headcontain">
            <nav id="hamburger" role="navigation">
                <div id="navToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul id="nav">
                        <li><a id="links" href='/'>Home</a></li>
                        <li><a id="links" href='/m'>About Me</a></li>
                        <li><a id="links" href='/'>Contact Me</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
