@import url('https://fonts.googleapis.com/css?family=Sahitya|Scada&display=swap');
body {
    background: url("background2.jpg") repeat;
    /*font-family: 'Sahitya', serif;*/
    font-family: 'Scada', sans-serif;
}

h1 {
    font-family: 'Scada', sans-serif;
}
.main{
    padding-top: 2vw;
    color: #444;
    text-align: center;
}

.name{
    font-size: 8vw;
}

.title {
    font-size: 3vw;
}

.explore-container{
    display: flex;
    flex-direction: row;
    margin-left: 8vw;
}
.carousel{
    margin-left: 5vw;
    width: 650px;
    color: #111;
}
#carousel-image {
    height: 500px;
}
#proj-link {
    color: #111;
    font-weight: bold;
}
.explore{
    width: 400px;
}

#arrow{
    background-color: rgba(68, 68, 68, 0.79);
    border-radius: 10em;
    height: 40px;
}


